*{
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
}

main{
    margin: 0;
}

html, body, main {
    height: 100%;
  }
  
body {
    margin: 0;
    padding: 0;
  }

#root{
    min-height: 100%;
}

/* .body-div{
    max-width: 980px;
    margin: 80px auto;
} */

.body-div {
    display: grid;
    grid-template-columns: auto auto auto;
    /* max-width: 980px; */
    margin: 80px auto;
}

.body-div:has(>.loader,.no-post-text){
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
    background-color: #903cfe;
    color: white;
    padding: 30px 40px;
    width: 100%;
}

.header-img{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.nav{
    align-items: center;
}

.author-img svg{
    height: 22px;
}

a,.links{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo{
    font-weight: bold;
    font-size: x-large;
}
.logo:hover{
    color: black;
}

header nav{
    display: flex;
    gap: 20px;
    font-size: large;
}

header nav > *:hover{
    color: black;
}

.viewprofile {
    margin: auto;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-template-columns: 200px auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.userpic {
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 50%;
}

.userpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-data{
    text-align: center;
}

.profile-btns {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap:5px;
}

.editprofile-form {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    justify-self: center;
}

.editprofile-form button{
    justify-self: center;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.post-container{
    padding: 10px;
    grid-column: 2;
    max-width: 980px;
    justify-self: center;
}

.post-container.author-page {
    margin-top: 50px;
    text-align: left;
}

h3.no-post-text {
    text-align: center;
}

.post{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
    background-color: rgb(144, 60, 254);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.post .image {
    aspect-ratio: 16/9;
    width: -webkit-fill-available;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-items: center;
}

.texts h2{
    margin: 10px 0;
    font-size:1.6rem;
}

p.info{
    display: flex;
    gap: 5px;
    font-size: 0.6rem;
}

a.author{
    background-color: white;
    color: #903cfe;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 1px 2px 0px 0px #00000094;
}

.info time{
    background-color: white;
    color: #903cfe;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 1px 2px 0px 0px #00000094;
}

.summary{
    margin-top: 10px;
    font-size:small;
    line-height: 1.2rem;
}

img.empty-home-img {
    height: 44vh;
}

form.login form.register h1{
    text-align: center;
}

.login, .register{
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 2;
}

.login button,.register button{
    margin-top: 20px;
    width: 100%;
    background-color: #903cfe;
    border: none;
}

input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px
}

button{
    display: block;
    background-color: #903cfe;
    border: 0;
    color: white;
    border-radius: 5px !important;
    padding: 7px;
    cursor: pointer;
}

/* view post */
.postcover {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
}

.postcover img{
    overflow: hidden;
}

img{
    object-fit: cover;
    object-position: center center;
}

.newpost-form,.editpost-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 2;
    width: 980px;
    justify-self: center;
    padding: 10px;
}

.publish-btn, .update-btn{
    margin-bottom: 50px;
    align-self: center;
    padding: 10px 30px;
}

.viewpost {
    padding: 10px;
    grid-column: 2;
    max-width: 980px;
    width: -webkit-fill-available;
    justify-self: center;
}

.viewpost h1{
    text-align: left;
    margin: 10px 0 5px;
}

.viewpost time{
    text-align: left;
    display:inline-flex;
    font-size: 0.8rem;
    color: #aaa;
    padding-right: 20px;
}

.viewpost .author-row{
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.viewpost .author{
    color: #903cfe;
    text-decoration: none;
    box-shadow: unset;
}

.viewpost .content p{
    line-height: 1.6rem;
}



.viewpost .edit-row{
    margin-bottom: 20px;
    display: inline-flex;
    gap: 10px;
}

.editor{
    margin-bottom: 80px;
}

#root .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
    height: fit-content;
    min-height: 50%;
  }
  
#root .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

.edit-btn{
    background-color: #903cfe;
    color: white;
    display: inline-flex;
    border-radius: 5px;
    gap: 5px;
    padding: 5px  10px;
    font-size: small;
}

.delete-btn{
    background-color: #d30505;
    color: white;
    display: inline-flex;
    border-radius: 5px;
    gap: 5px;
    padding: 5px  10px;
    font-size: small;
}

.profile-menu-btn{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px  10px;
    font-size: small;
}

.profile-menu-btn svg{
    height: 30px;
}

.edit-btn:hover, .delete-btn:hover{
    background-color: black;
}

a svg, button svg{
    height: 20px;
}

.content{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
}

.content a{
    color: #903cfe;
    text-decoration: underline;
}

.content p:has(> img) {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.content p img{
    margin: 10px;
    aspect-ratio: 16/9;
    max-height: 300px;
    overflow: hidden;
}

.ql-snow .ql-editor img {
    aspect-ratio: 16/9;
    max-height: 300px;
    overflow: hidden;
    margin: 10px;
}

iframe {
    width: -webkit-fill-available;
    aspect-ratio: 16/9;
    margin: auto;
    border-radius: 10px;
}

/* Pop-up */
.popup-card-content {
    border-radius: 10px;
  }
  
.popup-card-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.popup-items{
    text-align: center;
    display: grid;
}

.popup-items button{
    width: fit-content;
    padding: 10px 40px;
    place-self: center;
    margin-bottom: 10px;
}

.page-not-found{
    text-align: center;
    grid-column: 2;
}

.page-not-found img{
    height: 500px;
    width: fit-content;
}

/* Loading animation*/
.loader-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-column: 2;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    border-top: 5px solid #903cfe;
    /* border-right: 5px solid transparent; */
    border-bottom: 5px solid #903cfe;
    /* border-left: 5px solid transparent; */
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.loader-text{
    margin-top: 50px;
}

footer{
    background-color: #eaeaea;
    padding: 10px;
    text-align: center;
    color:#903cfe;
    position: sticky;
    top: 100%;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .post{
        grid-template-columns: 1fr;
    }

    .userpic {
        width: 40vw;
        height: 40vw;
      }
}


@media only screen and (max-width: 1000px) {
    .newpost-form,.editpost-form{
        width: unset;
    }   
}